{% extends 'base.html' %}

{% block content %}

<div class='container'>
<h1>{{ store.store_name }} Material Stock</h1>

<table class="table">
  <thead>
    <tr>
      <th>Material</th>
      <th>Max Capacity</th>
      <th>Current Capacity</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for material_stock in material_stocks %}
    <tr>
      <td>{{ material_stock.material.name }}</td>
      <td>{{ material_stock.max_capacity }}</td>
      <td>{{ material_stock.current_capacity }}</td>
      <td>
        <a href="{% url 'update_stock' material_stock.pk %}" class="btn btn-primary">Update</a>
        <a href="{% url 'delete_stock' material_stock.pk %}" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4">No material stock found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'add_stock' store.pk %}" class="btn btn-success btn-sm">Add Material Stock</a>

</div>
{% endblock %}